.flex {
    display: flex;
}

.flex.row {
    flex-direction: row;
}
.flex.column {
    flex-direction: column;
}
.flex .spacer {
    flex-grow: 1;
    flex-shrink: 0;
}

#compass {
    position: relative;
}

#compass img {
    width: 32rem;
    position: relative;
    display: block;
}

#compass img:nth-child(2) {
    top: -32rem;
    margin-bottom: -32rem;
}

#arrow {
    transform: rotate(0deg);
}

#compassContainer,
#graphContainer {
    position: relative;
}

svg {
    width: 100%;
    height: 100%;
    overflow: hidden;
}